<nav class="relative max-w-full container font-sans">
  <!-- Flex container -->
  <div class="flex container align-middle">
    <!-- Logo -->
    <div>
      <img src="../img/nyuceda-logo.png" alt="NYU CEDA logo" width="85px" height="85px" />
    </div>
    <!-- Menu Items -->
    <ul>
      <li class="inline">
        <a id="about" href="./about" class="border-transparent border-8 hover:bg-nyuDeepViolet">About</a>
      </li>
      <li class="inline">
        <a id="calendar" href="./calendar" class="border-transparent border-8 hover:bg-nyuDeepViolet">Calendar</a>
      </li>
      <li class="inline">
        <a id="coaches" href="./coaches" class="border-transparent border-8 hover:bg-nyuDeepViolet">Coaches</a>
      </li>
      <li class="inline">
        <a id="e-board" href="./e-board" class="border-transparent border-8 hover:bg-nyuDeepViolet">E-Board</a>
      </li>
    </ul>
  </div>
</nav>
