<nav class="relative max-w-full container bg-nyuViolet font-sans">
  <!-- Flex container -->
  <div>
    <!-- Logo -->
    <div>
      <img src="../img/nyuceda-logo.png" alt="NYU CEDA logo" width="85px"height="85px"/>
    </div>
    <!-- Menu Items -->
    <ul class="nav">
      <li><a id="about" href="./about" class="border-transparent border-8 hover:bg-nyuDeepViolet">About</a></li>
      <li><a id="calendar" href="./calendar" class="border-transparent border-8 hover:bg-nyuDeepViolet">Calendar</a></li>
      <li><a id="coaches" href="./coaches" class="border-transparent border-8 hover:bg-nyuDeepViolet">Coaches</a></li>
      <li><a id="e-board" href="./e-board" class="border-transparent border-8 hover:bg-nyuDeepViolet">E-Board</a></li>
    </ul>
  </div>
</nav>
