<nav class="font-sans">
  <!-- Logo -->
  <div
    class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between p-4"
  >
    <a href="#" class="flex items-center">
      <img
        src="../img/nyuceda-logo.png"
        alt="NYU CEDA logo"
        width="85px"
        height="85px"
        class="inline-flex"
      />
    </a>
    <ul
      class="mt-auto hidden rounded-lg border bg-nyuViolet text-white md:mt-0 md:flex md:flex-row"
    >
      <li>
        <a href="./about" class="block p-4">About</a>
      </li>
      <li>
        <a href="./e-board" class="block p-4">E-Board</a>
      </li>
      <li>
        <a href="./calendar" class="block p-4">Calendar</a>
      </li>
      <li>
        <a href="./coaches" class="block p-4">Coaches</a>
      </li>
    </ul>
  </div>
</nav>
